@import config
@import 'blocks/**/*'

p, span
	font-family: helveticaRegular
.hover
	cursor: pointer
	&:hover
		background-color: $highlighted !important
		border: 1px solid $highlighted !important
		color: #fff
.disabled
	background-color: #E2CC99 !important
	color: #fff !important
	pointer-events: none !important	        	
.widget
	border-radius: 8px
	padding: 5px
	position: relative
	overflow: hidden
	font-size: 11px
	cursor: pointer
	&::-webkit-scrollbar
		display: none
	&__head
		display: flex
		justify-content: space-between
		margin-bottom: 9px
		h4
			display: inline-block
			font-family: helveticaMedium
			font-size: $desktopsize
		h5
			display: inline-block
			font-family: helveticaMedium
			opacity: .5
			margin-left: 12px
		> span
			display: inline-block
			opacity: .5

	p
		margin-bottom: 5px
	span
		font-family: helveticaBold
		line-height: 13px
		font-size: 11px
	&::before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 3px
	&--red
		background-color: #FFECF0
		color: #FC406D
		&::before, &:hover
			background-color: #FC406D
			color: #fff
	&--green
		color: #409292
		background-color: #E0F4F4
		&::before, &:hover
			background-color: #409292
			color: #fff
	&--violet
		color: #9025E5
		background-color: #F5EBFD
		&::before, &:hover
			background-color: #9025E5
			color: #fff
	&--blue
		color: #607BF1
		background-color: #F1F3FE
		&::before, &:hover
			background-color: #607BF1
			color: #fff	




// CHOOSE TIME

.choose-time-section
	.form
	    text-align: left
	    border: 1px solid #E0E0E0
	    border-radius: 8px
	    .current-date
	    	text-align: center
	    	h1
	    		font-size: 18px
	    		display: block
	    		font-family: helveticaRegular
	    		padding: 25px 0
	    		line-height: 30px
	    		span
	    			display: block
	    			font-family: helveticaBold
	    label
	        -webkit-user-select: none
	        -moz-user-select: none
	        -ms-user-select: none
	        user-select: none
	        cursor: pointer
	        width: 100%
	        display: block
	        position: relative
	        padding: 13px 29px
	        border-top: 1px solid #F7F2EE
	        cursor: pointer
	        input
	            position: absolute
	            cursor: pointer
	            left: 0
	            top: 0
	            width: 100%
	            height: 100%
	            opacity: 0
	        h2
	            font-family: helveticaMedium
	            font-size: 16px
	            color: #343434
	            position: relative
	            margin-bottom: 7px
	        span
	            font-family: helveticaRegular
	            font-size: 12px
	            color: #343434
	            text-transform: uppercase
	            letter-spacing: 1px
	        .continue
	        	font-size: 16px
	        	position: absolute
	        	right: 30px
	        	top: 50%
	        	transform: translateY(-50%)
	        	color: #343434
	        &:nth-child(2n)
	            background-color: #EAEAEA
	        &.active
	        	background-color: $highlighted
	        	h2, span
		        	color: #fff


// CALENDAR MIN CSS
.month
    display: flex
    max-width: 210px
    margin: 0 auto 17px auto
    justify-content: space-between
    align-items: center
    .prevArrow, .nextArrow
        display: block
        cursor: pointer
        &:hover
            svg
                #Сгруппировать_1391
                    #Контур_3
                        fill: $highlighted    
    .prevArrow
        transform: rotate(90deg)
    .nextArrow
        transform: rotate(-90deg)
    h1
        margin-bottom: 0
        font-family: Adobeclean
        font-size: 23px
        line-height: auto
.globalCalendar
    display: none
    max-width: 470px
    &.visible
        display: block
.calendarWrapper
    transform: translateX(2px)
    &__week
        display: flex
        justify-content: flex-start
        li
            width: calc(100% / 7)                        
            text-align: center
            font-family: SFpro
            font-size: $desktopsize
            color: #3E3E3E
            opacit: 0.5
            margin-bottom: 15px
            transform: translateX(-5px)
            span
            	font-family: adobeclean
            	font-weight: bold
    &__day
        display: flex
        justify-content: space-around
        flex-flow: wrap
        padding-top: 1px
        padding-left: 1px
        li
            cursor: pointer
            width: calc(100% / 7)
            color: #957248
            padding: 15px 0
            text-align: center
            position: relative
            display: flex
            justify-content: center
            align-items: center
            span
            	font-family: notosansbold
            	font-size: 15px
            	color: #333
            // &.disabled
            //     background-color: #ccc3bf
            //     color: #FFFFFF
            //     pointer-events: none
            &.anotherMonth
                pointer-events: none
                span
                    color: #ABABAB
            &.active
                span
                	position: relative
                	color: #fff
                	z-index: 1
                	&::after
                		content: ''
                		background-color: $highlighted
                		position: absolute
                		width: 51px
                		height: 51px
                		border-radius: 50px
                		right: 50%
                		transform: translateX(50%)
                		top: -18px
                		z-index: -1
            &.weekend
                background-color: #FCFAF6
                color: #7E7E7E


// CALENDAR MIN CSS END


//FULL CALENDAR CSS
.fc-theme-standard 
	.fc-scrollgrid
		border-top: none !important
		// border-left: none !important
		border-right: none !important
.fc-col-header 
	tr, th
		border-left: none
		border-right: none
	th:last-child
		.fc-col-header-cell-cushion 
			color: #FF4040
	.fc-col-header-cell-cushion 
		font-family: helveticaBold
		font-size: 13px
		color: #171616
		margin-bottom: 8px
.fc-daygrid-day-top
	flex-direction: row
	font-size: 17px
	font-family: helveticaRegular
	color: #343A40
	padding: 10px 0 0 10px


	




// SELECT CSS
.select2-dropdown
	border-radius: 4px !important
	border: 1px solid #E0E0E0 !important
	overflow: hidden
	width: auto !important
.select2-results
	width: auto
#select2-sel1-results, #select2-sel2-results	
	width: 200px !important
	background-color: #fff
	.select2-results__option--selected
		background-color: #34343469
	.select2-results__option
			padding:  15px 0 15px 30px
			position: relative
			&:before
				content: ''
				display: block
				position: absolute
				left: 13px
				top: 43%
				width: 7px
				height: 7px
				border-radius: 50%
			&:nth-child(1)
				&::before
					background-color: #FC406D
			&:nth-child(2)
				&::before
					background-color: #9025E5
			&:nth-child(3)
				&::before
					background-color: #409292
			&:nth-child(4)
				&::before
					background-color: #000
			&--highlighted
				background-color: $highlighted !important
#select2-sel3-results, #select2-sel4-results 
	background-color: #fff
	width: 470px
	.select2-results__option--selected
		background-color: #34343469
	.select2-results__option
		width: 100%
		padding:  15px 0 15px 30px
		position: relative
		&--highlighted
			background-color: $highlighted !important

.select2-search
	display: none
.select-ver-1
	.select2
		width: auto !important
		margin: 36px 0 27px 0
		&-selection--single
			color: #fff
		&-selection__arrow
			b
				border-width: 6px 5px 0 5px !important
				margin-left: -6px !important
				border-color: #fff transparent transparent transparent !important
		&-selection--single
			border: 1px solid #343434 !important
			border-radius: 4px !important
			background-color: #343434 !important
			color: #fff
		&-selection__rendered
			color: #fff !important
			padding-right: 43px !important

		&:focus
			outline: none
.select-ver-2
	.select2
		width: 470px !important
		margin: 12px 0 32px
		&-search--dropdown
			display: none
		&-selection--single 
		    border: 1px solid #E0E0E0!important
		    height: auto
		    padding: 4px 14px
		    border-radius: 4px!important
		    background-color:  transparent !important
		&-selection__rendered
			color: #868E96 !important
		&-selection__arrow
			b
				border: none
				left: 30% !important
				background: url('../images/dist/select-arrow.svg') center center/contain no-repeat
				width: 8px !important
				height: 4px !important
				margin-top: 4px !important
				border-style: none !important
				transform: rotate(0deg)
				@include transition(.1s)
		&:focus
			outline: none
.select2-container
	.selection
		.select2-selection__arrow
			b
				@include transition(.1s)
	&--open
		.selection
			.select2-selection__arrow
				b
					transform: rotate(180deg)
					@include transition(.1s)
///////


.client-type
	font-size: 12px
	padding: 4px 14px 4px 25px
	border-radius: 8px
	display: inline-block
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		left: 11px
		top: 50%
		transform: translateY(-50%)
		width: 9px
		height: 9px
	&.bonus-program
		color: #FF7979
		background-color: rgba(255,121,121,0.10)
		&::before
			content: ''
			background: url('../images/dist/bonus-program-icon.svg') center center/contain no-repeat
	&.vip-client
		color: #E09E00
		background-color: rgba(224,158,40,0.10)
		&::before
			background: url('../images/dist/vip-client-icon.svg') center center/cover no-repeat
	&.regular-customer
		color: #407292
		background-color: rgba(64,146,146,0.10)
		&::before
			background: url('../images/dist/regular-customer-icon.svg') center center/cover no-repeat
	&.black-list
		background-color: rgba(52,52,52,0.10)
		color: #343434
		&::before
			background: url('../images/dist/black-list-icon.svg') center center/cover no-repeat

.create-note
	h3
		font-size: 16px
		display: block
		margin-bottom: 10px
		font-family: helveticaRegular
	textarea
		border: 3px solid #E0E0E0
		border-radius: 8px
		padding: 15px 13px
		width: 100%
		font-family: helveticaRegular
		height: 112px
		&::placeholder
			color: #868D96
			font-family: helveticaRegular
		&:focus
			border: 2px solid #A6CBF3

.content-wrapper
	&__header
		margin: 56px 0 27px 0
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		margin-bottom: 27px
		span
			font-family: helveticaRegular
			font-size: 16px
			color: #343434
			padding: 10px 15px
			display: block
			border: 1px solid #E2E6EA
			border-radius: 0 8px 8px 0
			&.active
				background-color: #E2E6EA
				border-color: #E2E6EA
	&__app-hours
		border-radius: 8px
		display: flex
		overflow: hidden
		span:first-child
			border-radius: 8px 0 0 8px		
	.TWM
		display: flex
		div
			display: flex
		&__days
			margin: 0px 10px 0px 58px
			border-radius: 8px
			overflow: hidden
			span
				padding: 10px 26px
			span:first-child
				border-radius: 8px 0 0 8px
			span:nth-child(2)
				border-radius: 0px
				margin: 0 -1px
			span:last-child
				border-radius: 0 8px 8px 0
		&__arrows
			img
				padding: 10px 15px
				cursor: pointer
				border-radius: 8px
				&:hover
					background-color: #E2E6EA
				&:last-child
					transform: rotate(180deg)
	&__filter-calendar
		display: flex
		> span
			border-radius: 8px
			padding-left: 35px
			position: relative
			cursor: pointer
			&::before
				content: ''
				display: block
				width: 12px
				height: 12px
				position: absolute
				left: 12px
				top: 12px
			&:first-child
				margin-right: 16px
				&::before
					background: url('../images/dist/filter-icon.svg') center center/contain no-repeat
			&:nth-child(2)
				&::before
					background: url('../images/dist/calendar-icon.svg') center center/contain no-repeat
			&.active
				background-color: $highlighted
				border: 1px solid $highlighted 
				color: #fff						
			&:first-child
				&:hover, &.active
					&::before
							background: url('../images/dist/filter-icon-hover.svg') center center/contain no-repeat
			&:nth-child(2)
				&:hover, &.active
					&::before
							background: url('../images/dist/calendar-icon-hover.svg') center center/contain no-repeat
		.filter-container
			display: none
			background-color: #323232
			position: absolute
			left: -50%
			top: calc(100% + 10px)
			border-radius: 4px
			z-index: 50
			padding: 34px 24px
			div
				display: block
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					left: 50%
					transform: translateX(-50%)
					width: 0
					height: 0
					top: -209%
					border-color: transparent transparent rgb(52, 52, 52)
					border-width: 0px 6.5px 6px
					border-style: solid
			label
				border: none
				width: 100%
				position: relative
				display: flex
				cursor: pointer
				&:first-child
					margin-bottom: 10px
				span
					margin-left: 5px
					color: #fff
					border: none
					padding: 0
			&.active
				display: block

			

// DATEPICKER CSS
.qs-datepicker-container
	background-color: #fff
	border-radius: 8px
	border: none
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5)
	padding: 14px 26px 26px 26px
	width: 300px
	left: auto !important
	right: 0 !important
	top: 47px !important
	span
		padding: 0
		border: none
	.qs-arrow:hover
		background-color: transparent
	.qs-controls
		background: #fff
		margin-bottom: 17px
		width: max-content
		margin: 0 auto
		.qs-month-year
			&:hover
				border: none
			.qs-month, .qs-year
				font-family: 'adobeClean' !important
				font-size: 23px !important
		.qs-arrow
			&::after
				width: 15px
				height: 7px
				border: none
		.qs-left
			&::after
				background: url('../images/dist/smallArrow.svg') center center/cover no-repeat
				transform: translate(25%,-70%) rotate(0deg)
		.qs-right
			&::after
				transform: translate(-25%,-70%) rotate(180deg)
				background: url('../images/dist/smallArrow.svg') center center/cover no-repeat
		.qs-month-year
			display: flex
			font-size: 23px
			font-weight: bold
	.qs-squares
		.qs-square
			padding: 7%
		.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover 
			background: transparent
		.qs-day
			text-transform: uppercase
			font-weight: bold
			font-size: $desktopsize
			color: rgba(62, 62, 62, 0.5)
			font-family: adobeclean
		.qs-num
			font-family: notosansbold
			font-size: 16px
			font-weight: bold
			color: #3D3D3D	
		.qs-current
			color: $highlighted			
			text-decoration: none
		.qs-active
			text-decoration: none
			background: $highlighted !important
			border-radius: 50px
			color: #fff	



