// IPAD
@media (max-width: 1024px)
	.global-content__core
		.flex-table
			.table-slot__reqDoc
				ul
					flex-flow: wrap
					li
						padding: 10px 0
		.clients-table
			.table-slot__reqDoc
				ul
					li
						&:nth-child(3)
							padding-right: 0
		.requests-table
			.table-slot__reqDoc
				ul
					li
						&:nth-child(4)
							width: 40%

