// IPAD
@media (max-width: 768px)
	.widget-wrapper
		.widget
			&__head
				align-items: center
				div
					h5
						font-size: 11px
				span
					font-size: 10px
		.delete-block
			right: -10px
			img
				width: 20px
	.widget
		&__head
			font-size: 12px
		> span
			font-size: 10px	
		p
			font-size: 9px
			margin-bottom: 0
	.qs-datepicker-container
		.qs-squares
			.qs-num
				font-size: 12px
	.select-ver-2
		.select2
			width: 100% !important
	#select2-sel3-results, #select2-sel4-results, #select2-sel7-results, #select2-sel8-results, #select2-sel9-results
		width: 100%
		font-size: 12px
		.select2-results__option
			padding: 10px 10px
	.select-ver-2
		.select2-selection--single
			font-size: 12px
			padding: 4px
	.hover
		&:hover
			background-color: #fff !important
			border-color: #e2e6ea !important
			color: #333333 !important
@media (max-width: 767px)
	.mfp-img
		padding: 0 !important
	.mfp-close
		top: -100px
	.content-wrapper
		margin-top: 85px
		&.home
			margin-top: 130px
	
			
	